<!--The content below is only a placeholder and can be replaced.-->
<header style="background-color: pink; height:30px;"></header>
<div class="container">
  <h2>{{title}}</h2>
  <app-header-image></app-header-image>
  <h2>{{resultString}}</h2>
  <div style="width:60%;">
    <form>
      <div class="form-group">
        <label for="num">Enter String:</label>
        <input [(ngModel)]="inputString" type="email" class="form-control" placeholder="Enter String" name="input">
      </div>
      
      <button type="button" (click)="revOrder();" class="btn btn-primary btn-large">Reverse Order</button>
      &nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-danger btn-large">Clear</button>
    </form>      
    &nbsp;&nbsp;
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sno</th>
          <th>Input</th>
          <th>Result</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let temp of strResults; let i = index">
          <td>{{i+1}}</td>
          <td>{{temp.inputString}}</td>
          <td>{{temp.resultString}}</td>
          <td>
           <a href="#" (click)="deleteRev(temp);">
             <img src="assets/img/delete.png" style="height: 40px;"/>
           </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
